{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <h2>Página Inicial.</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac cursus lacus.
        Cras elit augue, porttitor vel lectus eu, consectetur auctor dolor. Etiam pharetra,
        dolor vitae mattis eleifend, massa nunc lacinia eros, a rutrum lorem tortor a elit.
        Pellentesque mattis turpis sed tortor tempor, sed accumsan velit mollis. Mauris in gravida
        odio. Nulla libero eros, fermentum nec est vitae, commodo maximus elit. Mauris sodales eget
        nulla quis pulvinar. Praesent volutpat pellentesque felis nec aliquam. Duis sagittis interdum
        risus in consectetur. Integer porttitor arcu ut suscipit varius.

        <br>
        Nulla imperdiet est ac nulla luctus mollis. In vel augue eget nulla vehicula consequat.
        Pellentesque dolor neque, convallis non sollicitudin eu, ullamcorper vitae nulla.
        Suspendisse potenti. Nullam commodo varius tellus, vel pulvinar enim sagittis rutrum.
        Pellentesque luctus pulvinar quam. Integer ultricies euismod turpis, a accumsan erat rutrum non.
        Morbi ac pretium leo, nec iaculis justo. Praesent blandit lorem id mattis iaculis. Maecenas laoreet
        placerat gravida. Cras mollis lectus eget ante bibendum convallis. Nulla malesuada nunc non
        urna posuere eleifend. Praesent non accumsan lacus. Curabitur euismod ligula nibh, vitae cursus
        risus dignissim non. Sed pulvinar dolor et viverra consectetur. Etiam at ligula at orci aliquam
        ultricies vel et metus.

        <br>
        Pellentesque a sollicitudin leo, ac volutpat odio. Integer iaculis dui et accumsan malesuada.
        Integer eget feugiat quam. Maecenas ultrices orci risus. Cras elementum ante ut arcu scelerisque,
        non hendrerit turpis ultrices. Suspendisse vitae diam a magna iaculis placerat vel a quam. Sed
        accumsan cursus consequat. Praesent aliquet purus augue, ac porta massa feugiat id. In varius
        odio eget mattis tincidunt. Donec semper rhoncus metus vel maximus. Nulla volutpat lectus ac
        interdum fermentum.

        <br>
      </div>
    </div>
  </div>
{% endblock content %}
